{{/* YouTube embed shortcode
    Usage: youtube-embed id="dQw4w9WgXcQ"
    or:    youtube-embed id="dQw4w9WgXcQ" title="My Video"
*/}}

{{ $id := .Get "id" }}
{{ $title := .Get "title" | default "YouTube video" }}

<div class="aspect-video rounded-2xl overflow-hidden shadow-cute my-8">
  <iframe
    src="https://www.youtube.com/embed/{{ $id }}"
    title="{{ $title }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
    class="w-full h-full">
  </iframe>
</div>
